:root {
    --bright: #ffffff;
    --dark: #05090c;
    --shadow: #e5e5e5;
    --backgroundColor: #ffffff;
    --darkerBackgroundColor: #ffffff;
    --font-color: #4a4a4a;
    --primaryColor: #02a4b1;
    --navHeight: 6rem;
    --navHeightNegative: calc(-1 * var(--navHeight));
    --contentHorizontalPadding: 0 8vw;
    --contentHorizontalMargin: 0 8vw;
    --contentVerticalPadding: min(10vw, 10rem) 0;
    --gap: 3rem;
}
.dark__theme {
    --shadow: #05090c;
    --backgroundColor: #0c141d;
    --darkerBackgroundColor: #090f14;
    --font-color: #fafafa;
    --primaryColor: #00efff;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    min-width: 300px;
    font-size: 10px;
}
body {
    min-height: 100vh;
    background: var(--backgroundColor);
    color: var(--font-color);
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    transition: all 250ms ease-in-out;
}
.text--primary {
    color: var(--primaryColor);
}
.link--primary:focus {
    outline: dashed 2px var(--primaryColor);
    transition: transform 250ms ease-in-out;
}
.skip {
    position: absolute;
    top: var(--navHeight);
    transform: translateX(-100%);
    background: var(--darkerBackgroundColor);
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--font-color);
    z-index: 9999;
}
.skip:focus {
    transform: translateX(0%);
    transition: transform 250ms;
}
.navigation {
    width: 100%;
    height: var(--navHeight);
    position: fixed;
    background-color: var(--backgroundColor);
    top: unset;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1rem;
    border-top: 1px solid var(--primaryColor);
    border-bottom: none;
    transition: all 250ms ease-in-out;
    z-index: 9998;
}
.navigation__logo {
    display: flex;
    height: min(10vw, 4rem);
    width: min(10vw, 4rem);
    min-height: 2rem;
    min-width: 2rem;
    color: var(--primaryColor);
    transition: color 250ms ease-in-out;
}
@media (hover: hover) {
    .navigation__logo:hover {
        color: var(--font-color);
        transition: color 250ms ease-in-out;
    }
}
.navigation__logo:active {
    color: var(--font-color);
    transition: color 250ms ease-in-out;
}
.navigation__container {
    display: flex;
    list-style: none;
}
.navigation__link {
    padding: min(2vw, 1.2rem);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--font-color);
    transition: color 250ms ease-in-out;
}
@media (hover: hover) {
    .navigation__link:hover {
        color: var(--primaryColor);
        transition: color 250ms ease-in-out;
    }
}
.navigation__link:active {
    color: var(--primaryColor);
    transition: color 250ms ease-in-out;
}
.button--primary {
    padding: 1.2rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    transition: color 250ms ease-in-out, background 250ms ease-in-out;
}
.navigation__item > .button--primary {
    padding: 1.2rem min(1.5vw, 5rem);
}
@media (hover: hover) {
    .button--primary:hover {
        background: var(--primaryColor);
        color: var(--darkerBackgroundColor);
    }
}
.button--primary:active {
    background-color: var(--primaryColor);
    color: var(--darkerBackgroundColor);
}

.theme_toggle {
    position: fixed;
    bottom: 10vh;
    right: 0;
    padding: 1rem;
    color: var(--primaryColor);
    background-color: var(--darkerBackgroundColor);
    border-radius: 25% 0 0 25%;
    box-shadow: 0 5px 20px 5px var(--shadow);
    z-index: 15;
}

.header {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    gap: 6rem;
    min-height: calc(100vh - var(--navHeight));
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: var(--contentHorizontalMargin);
}
.header__text {
    padding: var(--contentHorizontalPadding);
}
.header::before {
    content: '▲';
    position: absolute;
    top: 8vh;
    left: 0;
    font-size: clamp(7rem, 10vw, 15rem);
    color: transparent;
    -webkit-text-stroke: 2px var(--primaryColor);
    transform: rotate(15deg);
    z-index: -1;
}
.header::after {
    content: '■';
    position: absolute;
    bottom: 7vh;
    right: 3vw;
    font-size: clamp(10rem, 10vw, 20rem);
    color: transparent;
    -webkit-text-stroke: 2px var(--primaryColor);
    transform: rotate(-25deg);
    z-index: -1;
}
.socials {
    display: none;
}
.content {
    display: flex;
    flex-direction: column;
    margin: var(--contentHorizontalMargin);
}
.content__section {
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: var(--contentVerticalPadding);
}
.section__title {
    display: flex;
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    white-space: nowrap;
    width: fit-content;
}
.about {
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
.about::before {
    content: '●';
    position: absolute;
    top: -10vh;
    left: 5vw;
    font-size: clamp(10rem, 10vw, 20rem);
    color: transparent;
    -webkit-text-stroke: 2px var(--primaryColor);
    z-index: -1;
}
.about__info {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.about__text {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    font-size: 1.7rem;
    line-height: 2rem;
    text-indent: 2rem;
}
.paragrapgh::first-letter {
    font-size: 3rem;
    color: var(--primaryColor);
}
.about__image {
    display: flex;
    align-self: center;
    position: relative;
    height: fit-content;
    background: #ffffff;
}
.about__image::before {
    content: '';
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    left: -0.5rem;
    bottom: -0.5rem;
    border: 2px solid var(--primaryColor);
    z-index: 1;
}
.about__image > img {
    position: relative;
    width: min(15vw, 15rem);
    min-width: 6rem;
}
.about__links {
    display: flex;
    justify-content: start;
    gap: var(--gap);
    width: 100%;
}
.projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: var(--gap);
    justify-content: center;
}
.projects__card {
    display: flex;
    flex-direction: column;
    background: var(--darkerBackgroundColor);
    box-shadow: 0 5px 20px 5px var(--shadow);
    transition: 250ms ease-in-out;
    z-index: 10;
}
@media (hover: hover) {
    .projects__card:hover {
        box-shadow: 0 calc(5px + 0.4rem) 20px 10px var(--shadow);
        transform: translateY(-0.4rem);
    }
}
.card__image {
    display: flex;
    min-height: 14rem;
    position: relative;
}
.card__image > img {
    width: 100%;
    object-fit: cover;
}
.card__info {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding: 2rem;
    gap: 1rem;
    flex: 1;
}
.card__tech {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    justify-content: end;
}
.card__tech--pointer {
    position: relative;
}
.card__tech--pointer::before {
    content: '';
    position: absolute;
    inset: 0.46rem 0 0 -2rem;
    width: 1.5rem;
    height: 0.4rem;
    background: var(--primaryColor);
}
.card__links {
    display: flex;
    gap: 1rem;
    justify-content: end;
}
.contact {
    position: relative;
    padding: var(--contentHorizontalMargin);
    font-size: 1.5rem;
    text-align: center;
}
.contact::before {
    content: '▲';
    position: absolute;
    bottom: 2vh;
    left: 0;
    font-size: clamp(7rem, 10vw, 15rem);
    color: transparent;
    -webkit-text-stroke: 2px var(--primaryColor);
    transform: rotate(15deg);
    z-index: -1;
}
.contact::after {
    content: '■';
    position: absolute;
    top: -3vh;
    right: 3vw;
    font-size: clamp(10rem, 10vw, 20rem);
    color: transparent;
    -webkit-text-stroke: 2px var(--primaryColor);
    transform: rotate(-25deg);
    z-index: -1;
}
.contact__links {
    display: flex;
    gap: 1rem;
}
footer {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 2rem;
    background: var(--darkerBackgroundColor);
    transition: all 250ms ease-in-out;
}
@media (min-width: 576px) {
    html {
        font-size: 12px;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 13px;
    }
    .theme_toggle {
        top: 15vh;
        bottom: unset;
    }
    .header {
        min-height: 100vh;
    }
    .header__text {
        margin-top: var(--navHeight);
    }
    .navigation {
        top: 0;
        bottom: unset;
        justify-content: space-between;
        border: none;
    }
}
@media (min-width: 992px) {
    :root {
        --navHeight: 8rem;
    }
    .navigation {
        padding: 0 3rem;
    }
    .header {
        padding: var(--contentHorizontalPadding);
    }
    .socials {
        position: fixed;
        bottom: 0;
        left: 4vw;
        display: flex;
        flex-direction: column;
        font-size: 2.5rem;
        gap: 1rem;
        z-index: 10;
    }
    .socials::after {
        content: '';
        display: block;
        width: 1px;
        height: 15vh;
        margin: 0px auto;
        background-color: var(--font-color);
    }
    .socials__link {
        text-decoration: none;
        color: var(--font-color);
        padding: 10px;
        transition: color 250ms ease-in-out;
    }
    @media (hover: hover) {
        .socials__link:hover {
            color: var(--primaryColor);
        }
    }
    .socials__link:active {
        color: var(--primaryColor);
    }
    .content__section {
        margin: var(--contentHorizontalMargin);
    }
    .about__info {
        flex-direction: row;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 15px;
    }
}
