:root {
    --bright: #f5f5f5;
    --dark: #272727;
    --darker: #1f1f1f;
    --mainColor: #FF652F;
    --secondaryColor: #FFE400;
    --tertiaryColor: #14A76C;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: var(--dark);
    color: var(--bright);
    font-size: 25px;
    font-weight: 200;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}
header, article {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
article {
    padding: 2rem;
}
.navigation {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--bright);
    padding: 0 3rem 0 3rem;
}
.socials {
    display: flex;
    gap: 1rem;
}
.socials i:hover {
    color: var(--mainColor);
    transition: color 350ms ease-in-out;
}
.navigation ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}
.navigation a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0.5rem 3rem 0.5rem;
    text-decoration: none;
    color: var(--bright);
}
.navigation a:hover {
    color: var(--mainColor);
    transition: color 350ms ease-in-out;
}
.navigation li>a>i {
    display: none;
}
article {
    background: var(--dark);
}
footer {
    display: flex;
    justify-content: center;
    flex:1;
    padding: 2rem;
    background: var(--darker);;
}
@media ( max-width: 1000px ) {
    body { font-size: 1rem; }
}
@media ( max-width: 600px ) {
    body { font-size: 0.8rem; }
    .navigation {
        width: 100vw;
        position: fixed;
        top: unset;
        bottom: 0;
        padding: 0;
        gap: 1rem;
        justify-content: center;
        background: var(--darker);
        border-top: 1px solid var(--bright);
        border-bottom: none;
    }
    .navigation a { padding: 2rem 0.3rem 2rem 0.3rem; }
    footer { padding-bottom: calc(1rem + 4.5rem); }
}