:root {
    --bright: #ffffff;
    --dark: #05090c;
    --backgroundColor: #0b1218;
    --darkerBackgroundColor: #090f14;
    --primaryColor: #00efff;
    --navHeight: 6rem;
    --navHeightNegative: calc(-1 * var(--navHeight));
    --contentHorizontalPadding: 0 8vw;
    --contentHorizontalMargin: 0 8vw;
    --contentVerticalPadding: min(10vw, 10rem) 0;
    --gap: 3rem;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    min-width: 300px;
    font-size: 10px;
}
body {
    min-height: 100vh;
    background: var(--backgroundColor);
    color: var(--bright);
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;
    overflow-x: hidden;
}
.text--primary {
    color: var(--primaryColor);
}
.link--primary:focus {
    outline: dashed 2px var(--primaryColor);
    transition: transform 250ms ease-in-out;
}
.skip {
    position: absolute;
    top: var(--navHeight);
    transform: translateX(-100%);
    background: var(--darkerBackgroundColor);
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--bright);
    z-index: 9999;
}
.skip:focus {
    transform: translateX(0%);
    transition: transform 250ms;
}
.navigation {
    width: 100%;
    height: var(--navHeight);
    position: fixed;
    background-color: var(--backgroundColor);
    top: unset;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1rem;
    border-top: 1px solid var(--primaryColor);
    border-bottom: none;
    transition: bottom 250ms ease-in-out;
    z-index: 9998;
}
.navigation__logo {
    display: flex;
    height: min(10vw, 4rem);
    width: min(10vw, 4rem);
    min-height: 2rem;
    min-width: 2rem;
    color: var(--primaryColor);
    transition: color 250ms ease-in-out;
}
@media (hover: hover) {
    .navigation__logo:hover {
        color: var(--bright);
        transition: color 250ms ease-in-out;
    }
}
.navigation__logo:active {
    color: var(--bright);
    transition: color 250ms ease-in-out;
}
.navigation__container {
    display: flex;
    list-style: none;
}
.navigation__link {
    padding: min(2vw, 1.2rem);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--bright);
    transition: color 250ms ease-in-out;
}
@media (hover: hover) {
    .navigation__link:hover {
        color: var(--primaryColor);
        transition: color 250ms ease-in-out;
    }
}
.navigation__link:active {
    color: var(--primaryColor);
    transition: color 250ms ease-in-out;
}
.button--primary {
    padding: 1.2rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    transition: color 250ms ease-in-out, background 250ms ease-in-out;
}
.navigation__item>.button--primary{
    padding: 1.2rem min(1.5vw, 5rem);
}
@media (hover: hover) {
    .button--primary:hover {
        background: var(--primaryColor);
        color: var(--darkerBackgroundColor);
    }
}
.button--primary:active {
    background-color: var(--primaryColor);
    color: var(--darkerBackgroundColor);
}
.header {
    display: flex;
    font-size: 1.75rem;
    gap: 6rem;
    min-height: calc(100vh - var(--navHeight));
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: var(--contentHorizontalMargin);
}
.header__text {
    padding: var(--contentHorizontalPadding);
}
.socials {
    display: none;
}
.content {
    display: flex;
    flex-direction: column;
    margin: var(--contentHorizontalMargin);
}
.content__section {
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: var(--contentVerticalPadding);
}
.section__title {
    display: flex;
    position: relative;
    font-size: 2.5rem;
    white-space: nowrap;
    width: fit-content;
}
.section__title::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--primaryColor);
}
.about {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
.about__info {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.about__text {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    font-size: 1.5rem;
}
.about__image {
    display: flex;
    align-self: center;
    position: relative;
    height: fit-content;
    background: #ffffff;
}
.about__image::before {
    content: "";
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primaryColor);
    z-index: -1;
}
.about__image > img {
    position: relative;
    width: min(15vw, 15rem);
    min-width: 6rem;
}
.about__links {
    display: flex;
    justify-content: start;
    gap: var(--gap);
    width: 100%;
}
.projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: var(--gap);
    justify-content: center;
}
.projects__card {
    display: flex;
    flex-direction: column;
    background: var(--darkerBackgroundColor);
    box-shadow: 0 15px 20px 5px var(--dark);
    transition: 250ms ease-in-out;
}
@media (hover: hover) {
    .projects__card:hover {
        box-shadow: 0 calc(15px + 0.5rem) 25px 10px var(--dark);
        transform: translateY(-0.5rem);
    }
}
.card__image {
    display: flex;
    min-height: 14rem;
    position: relative;
    box-shadow: 0 15px 20px 0px var(--dark);
}
.card__image > img {
    width: 100%;
    object-fit: cover;
}
.card__info {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 2rem;
    gap: 1rem;
    flex: 1;
}
.card__tech {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    justify-content: end;
}
.card__tech--pointer {
    position: relative;
}
.card__tech--pointer::before {
    content: "";
    position: absolute;
    inset: 0.46rem 0 0 -2rem;
    width: 1.5rem;
    height: 0.4rem;
    background: var(--primaryColor);
}
.card__links {
    display: flex;
    gap: 1rem;
    justify-content: end;
}
.contact {
    padding: var(--contentHorizontalMargin);
    font-size: 1.5rem;
    text-align: center;
}
.contact__links {
    display: flex;
    gap: 1rem;
}
footer {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 2rem;
    background: var(--darkerBackgroundColor);
}
@media (min-width: 576px) {
    html {
        font-size: 12px;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 13px;
    }
    .header {
        min-height: 100vh;
    }
    .header__text {
        margin-top: var(--navHeight);
    }
    .navigation {
        top:0;
        bottom: unset;
        justify-content: space-between;
        transition: top 250ms ease-in-out;
        border: none;
    }
}
@media (min-width: 992px) {
    .header {
        padding: var(--contentHorizontalPadding);
    }
    .socials {
        position: fixed;
        bottom: 0;
        left: 4vw;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        gap: 1rem;
    }
    .socials::after {
        content: "";
        display: block;
        width: 1px;
        height: 15vh;
        margin: 0px auto;
        background-color: var(--bright);
    }
    .socials__link {
        text-decoration: none;
        color: var(--bright);
        padding: 10px;
        transition: color 250ms ease-in-out;
    }
    @media (hover: hover) {
        .socials__link:hover {
            color: var(--primaryColor);
        }
    }
    .socials__link:active {
        color: var(--primaryColor);
    }
    .content__section {
        margin: var(--contentHorizontalMargin);
    }
    .about__info {
        flex-direction: row;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 15px;
    }
}